############################################
# ignore stuff like output, profiles, etc. #
############################################

output
outputs
profile.*
profiles
Makefile
Makefile*
alex.m
inputs/*.hig
data/*.tif
data/*.tiff
